.search-bar{
    font-size:30px;
    margin: 10px auto 10px 30px;
    max-width: 700px;
    display:flex;
    height: 40px;
    flex: 2 1 auto;
}

.search-bar__input{
    width:100%;
    border-radius: 5px;
    padding:5px;
    background-color: #7E5BBE;
    color:white;
    border: solid 1px #eeeeee;
}
.search-bar__input::placeholder{
    color:white;
}

@media (max-width: 768px) {
    .search-bar{
        order:2;
        min-width:80%;
        margin: 10px auto;
    }
}