.settings-icon{
  margin-left: auto;
  display:flex;
  color: #fff;
  padding: 10px;
  justify-content: left;
  align-self: center;
  font-size:30px;
  cursor:pointer;
}
  
.settings-icon__icon{
  height:40px;
  margin-right: 10px;
}