.resultsGrid{
    margin-top:15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.results{
    text-align: right;
    margin: 10px 50px 0 0;
    font-size: 1.2rem;
}