.landing-page{
    width: 100%;
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: aliceblue;
}