.navbar-logo{
  display:flex;
  color: #fff;
  padding: 10px;
  justify-content: left;
  align-self: center;
  font-size:30px;
  cursor:pointer;
}
  
.navbar-logo__icon{
  height:40px;
  margin-right: 10px;
}
  