.stream-description{
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: default;
}
.stream-description__details{
    display:flex;
    flex-direction: row;
    width:90%;
}

.stream-description__logo{
    height: 50px;
    padding:10px;
}
  
.stream-description__information{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    min-width: 0;
}
.stream-description__title{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.stream-description__chat-toggle {
    width:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.stream-description__chat-icon{
    width: 20px;
    text-align: center;
}
.stream-description__chat-toggle:hover {
    background-color: #ece9e9;
}
.stream-description__chat-icon--rotate {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .stream-description__chat-icon{
        transform: rotate(90deg);
    }
    .stream-description__chat-icon--rotate {
        transform: rotate(-90deg);
    }
}