.stream-card{
    width:300px;
    display:flex;
    flex-direction: column;
    border: 1px solid #f3f3f3;
    margin:10px;
  }

.stream-card__details{
  display:flex;
  flex-direction: row;
}

.stream-card__logo{
  height: 50px;
  cursor: default;
  padding: 10px;
}

.stream-card__preview {
  cursor: pointer;
}
.stream-card__information{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  min-width: 0;
}

.stream-card__text {
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}